annotated-types==0.7.0
asn1crypto==1.5.1
backports.tarfile==1.2.0
boto3==1.42.17
botocore==1.42.17
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
cloudpickle==3.1.1
coverage==7.10.7
cryptography==46.0.3
filelock==3.19.1
idna==3.11
importlib_metadata==8.7.1
jaraco.classes==3.4.0
jaraco.context==6.0.2
jaraco.functools==4.4.0
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
keyring==25.7.0
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
more-itertools==10.8.0
packaging==25.0
platformdirs==4.4.0
protobuf==6.31.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
requirements-parser==0.13.0
rich==14.2.0
s3transfer==0.16.0
SecretStorage==3.3.3
shellingham==1.5.4
six==1.17.0
snowflake==1.8.0
snowflake-cli-labs==0.2.9
snowflake-connector-python==4.1.1
snowflake-snowpark-python==1.43.0
snowflake._legacy==1.0.2
snowflake.core==1.8.0
sortedcontainers==2.4.0
toml==0.10.2
tomlkit==0.13.3
typer==0.21.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==1.26.20
zipp==3.23.0
